<a href="https://colab.research.google.com/github/b2221070/Prmn2023a/blob/main/PythonBasic_4_Question_ipynb_%E3%81%AE%E3%82%B3%E3%83%94%E3%83%BC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/kiryu-3/Prmn2023/blob/main/Python/Python_Basic/question/PythonBasic_4_Question.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 第4章 課題

## 課題1

10から2800まで、10飛ばしの数を乱数で生成し、2220000に足してください。  

この数を5つ生成し、一つのリストに格納した後、最終的に頭に"b"をつけて5つ出力してください。

＜実行結果例＞
``` py  
['b2220400', 'b2221750', 'b2222480', 'b2221720', 'b2220380']
```

In [ ]:
import random
list = []
for i in range(5):
  list.append(2220000 + random.randrange(10,2801,10))
  list[i] = 'b' +str(list[i])
print(list)

['b2221830', 'b2222560', 'b2220330', 'b2220940', 'b2221860']

## 課題2

1桁の自然数を乱数を使って5つ格納した2つのリストを作ってください。  
この時、一つのリスト内で5つの値が重複しないようにしてください

その後、対応する要素を足し合わせた新しいリストを出力してください

＜実行結果例＞
``` py  
1つ目のリスト：[1, 2, 3, 4, 5]  
2つ目のリスト：[1, 3, 5, 7, 9]  
足し合わせたリスト：[2, 5, 8, 11, 14]
```

In [9]:
import random

list_add = []
list_natural_number = [1,2,3,4,5,6,7,8,9]
list1 = random.sample(list_natural_number,5)
list2 = random.sample(list_natural_number,5)

print(f"1つ目のリスト:{list1}")
print(f"2つ目のリスト:{list2}")
for i in range(len(list1)):
  list_add.append(list1[i]+list2[i])
print(f"足し合わせたリスト:{list_add}")

1つ目のリスト:[1, 7, 2, 5, 9]
2つ目のリスト:[9, 3, 7, 5, 6]
足し合わせたリスト:[10, 10, 9, 10, 15]

## 課題3

リストの中身を指定した数で分割してみます。

以下のリストには都道府県47つが格納されています。

In [40]:
todohuken_list = [
    '北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県', 
    '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県', 
    '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県', 
    '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県',  '福岡県', 
    '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県',
]

  
これをランダムに1つのリストのサイズを4として分割してください

＜実行結果例＞  
``` py 
[['宮崎県', '茨城県', '栃木県', '千葉県'], … , ['岩手県', '滋賀県', '宮城県']]
```

In [50]:
import random

todohuken_list = [
    '北海道', '青森県', '岩手県', '宮城県', '秋田県', '山形県', '福島県', '茨城県', '栃木県', '群馬県', 
    '埼玉県', '千葉県', '東京都', '神奈川県', '新潟県', '富山県', '石川県', '福井県', '山梨県', '長野県', 
    '岐阜県', '静岡県', '愛知県', '三重県', '滋賀県', '京都府', '大阪府', '兵庫県', '奈良県', '和歌山県', 
    '鳥取県', '島根県', '岡山県', '広島県', '山口県', '徳島県', '香川県', '愛媛県', '高知県',  '福岡県', 
    '佐賀県', '長崎県', '熊本県', '大分県', '宮崎県', '鹿児島県', '沖縄県',
]

random.shuffle(todohuken_list)
for i in range(int(47/4+1)):
  if i <11:
    todohuken_list.insert(i,[todohuken_list[i],todohuken_list[i+1],todohuken_list[i+2],todohuken_list[i+3]])
    for j in range(4):
      todohuken_list.pop(i+1)
  else:
    todohuken_list.insert(i,[todohuken_list[i],todohuken_list[i+1],todohuken_list[i+2]])
    for k in range(3):
      todohuken_list.pop(i+1)
print(todohuken_list)

[['福岡県', '和歌山県', '青森県', '富山県'], ['愛知県', '沖縄県', '広島県', '栃木県'], ['大分県', '岐阜県', '埼玉県', '山口県'], ['秋田県', '千葉県', '神奈川県', '熊本県'], ['福井県', '三重県', '高知県', '大阪府'], ['静岡県', '岩手県', '奈良県', '石川県'], ['鹿児島県', '新潟県', '京都府', '鳥取県'], ['岡山県', '徳島県', '東京都', '愛媛県'], ['佐賀県', '北海道', '茨城県', '滋賀県'], ['山形県', '長崎県', '宮城県', '島根県'], ['福島県', '山梨県', '兵庫県', '群馬県'], ['長野県', '香川県', '宮崎県']]

## 課題4

ある大学の名前と年齢が、次のような形式で格納されたリスト `university_list` があります。

In [ ]:
university_list = [
    "Chitose,25",
    "Hokudai,105",
    "Muroran,74",
    "Hakodate,23",
]

このリストを、年齢順にソートして、新たなリストとして出力してください

＜実行結果＞  
``` py
['Chitose,25', 'Hokudai,105', 'Muroran,74', 'Hakodate,23']
['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']
```

In [18]:
import re
university_list = [
    "Chitose,25",
    "Hokudai,105",
    "Muroran,74",
    "Hakodate,23",
]
age = []
for i in range(4):
  age.append(re.split('[,]', university_list[i])[1])
for j in range(4):
  for k in range(4):
    if int(age[j]) < int(age[k]):
      tmp1 = age[j]
      age[j] = age[k]
      age[k] = tmp1

      tmp2 = university_list[j]
      university_list[j] = university_list[k]
      university_list[k] = tmp2     

print(university_list)

['Hakodate,23', 'Chitose,25', 'Muroran,74', 'Hokudai,105']

## 課題5

**FizzBuzz（フィズ・バズ）問題**という問題について解いていきます。

もともとは、英語圏で長距離ドライブ中や飲み会の時に行われる言葉遊びです。

以下のような問題になります。

1～Nまでの整数を順に出力しなさい。ただし、例外として以下のルールを守ること。

* 3で割り切れる数字の場合は"Fizz"を出力
* 5で割り切れる数字の場合は"Buzz"を出力
* どちらでも割り切れる数字の場合は"FizzBuzz"を出力

ここではN=100として、まずは一つのリストに
"Fizz" か "Buzz" か "FizzBuzz" か "others" を格納してください。

その後、それぞれの要素の数をカウントしてください。

＜実行結果＞  
``` py
FizzBuzzの数：6 
Fizzの数：27 
Buzzの数：14
othersの数：53  
```

In [17]:
N = 100
fizzbuzz=[]
for i in range(1,N+1):
  if i%3 != 0:
    if i%5 != 0:
      print(i,end="")
      fizzbuzz.append('others')
    else:
      print("Buzz",end="")
      fizzbuzz.append("buzz")
  else:
    print("Fizz",end="")
    if i%5 == 0:
      print("Buzz",end="")
      fizzbuzz.append("fizzbuzz")
    else:
      fizzbuzz.append("fizz")
  print()

print()
print(f"Fizzの数:{fizzbuzz.count('fizz')}")
print(f"Buzzの数:{fizzbuzz.count('buzz')}")
print(f"FizzBuzzの数:{fizzbuzz.count('fizzbuzz')}")
print(f"othersの数:{fizzbuzz.count('others')}")

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

Fizzの数:27
Buzzの数:14
FizzBuzzの数:6
othersの数:53